
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/Content/CssHome/images/tmp1.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/CssHome/images/tmp2.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/CssHome/images/tmp3.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/CssHome/images/tmp4.png" alt="" />
            </li>
            <li>
                <img src="~/Content/CssHome/images/tmp5.jpg" alt="" />
            </li>

        </ul>
  
    </div>
    <div class="clearfix"> </div>
</div>